<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- <div class="col-xs-12 col-sm-4 col-sm-push-4">
            <h1 class="white-text">Simply</h1>
        </div>
        <div class="col-xs-2 col-xs-pull-4">
            <div class="navbar-brand"><i class="fa fa-home fa-2x white-text" aria-hidden="true"></i></div>
            <div class="navbar-brand"><i class="fa fa-arrow-left fa-2x white-text" aria-hidden="true"></i></div>
        </div> -->
        <div class="col-sm-2 col-xs-4">
            <div class="nav-buttons">
                <i class="fa fa-home fa-3x white-text" aria-hidden="true"></i>
                <i class="fa fa-arrow-left fa-3x white-text" aria-hidden="true"></i>
            </div>           
        </div>
        <div class="col-sm-push-2 col-sm-4 col-xs-push-0 col-xs-4">
            <h1 class="white-text">Simply</h1>
        </div>
    </div>
</nav>
<div class="container-fluid override">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 jumbotron first">
        <h1>Simply Cook!</h1>
        <h4>Don't worry about your next meal.</h4>
        <h4>Don't worry about where to start.</h4>
    </div>
    <div class="form-group col-xs-12 col-sm-4 second">
        <label>Choose Cuisine:</label>
        <select class="form-control"  ng-model="mc.searchParams.style" ng-options="cuisine for cuisine in mc.cuisine_array" ng-click="mc.getSpoonacularData()">
        </select><br>
        <label>Choose Cook Time:</label>
        <select class="form-control" ng-model="mc.searchParams.cookTime" ng-options="cooktime for cooktime in mc.cooktime" ng-click="mc.getSpoonacularData()">
        </select><br>
        <a href="#recipe-list" ng-class="{'inactive': !mc.optionsChosen}"><button class="btn btn-success">Search</button></a>
    </div>
</div>
