<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
<!--         <div class="col-xs-12 col-sm-4 col-sm-push-4">
            <h1 class="white-text">Simply</h1>
        </div>
        <div class="col-sm-2 col-sm-pull-4">
            <div class="navbar-brand"><a href="#/" ng-click="mc.resetSearchParams()"><i class="fa fa-home fa-2x white-text" aria-hidden="true"></i></a></div>
            <div class="navbar-brand"><a href="#/" ng-click="mc.resetSearchParams()"><i class="fa fa-arrow-left fa-2x white-text" aria-hidden="true"></i></a></div>
        </div> -->
        <div class="col-sm-2 col-xs-4">
            <div class="nav-buttons">
                <a href="#/" ng-click="mc.resetSearchParams()"><i class="fa fa-home fa-3x white-text" aria-hidden="true"></i></a>
                <a href="#/" ng-click="mc.resetSearchParams()"><i class="fa fa-arrow-left fa-3x white-text" aria-hidden="true"></i></a>
            </div>           
        </div>
        <div class="col-sm-push-2 col-sm-4 col-xs-push-0 col-xs-4">
            <h1 class="white-text">Simply</h1>
        </div>
    </div>
</nav>
<div class="col-xs-12 col-sm-5 col-sm-push-1 list-item" ng-repeat="x in mc.searchParams.sortedData" ng-click="mc.getRecipeInstructions($index)">
    <div class="panel panel-default text-center" title="{{x.title}}">
        <a href="#recipe">
            <h3 class="text-center panel-heading list-item-description">{{x.title | listItemFilter}}</h3>
            <div class="panel-body">
                <img class="list-image" ng-src="http://spoonacular.com/recipeImages/{{x.image}}">
            </div>
            <div class="text-center panel-footer">
                <h5>Ready in</h5>
                <div class="recipe-border"><span class="recipe-time">{{x.readyInMinutes}}</span></div>
                <h5>minutes</h5>
            </div>
        </a>
    </div>
</div>
