
.recipe-border {
	margin: 5px auto;
	border: 5px solid black;
	width: 50px;
	/*height: 50px;*/
	border-radius: 50px;
}
/* this is a hack that centers the recipe time number in the recipe-border div */
.recipe-border:before {
	display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.recipe-time {
	vertical-align: middle;
	font-size: 18px;
	color: black;
}
/* without this the number stays at the top of the recipe border div instead of the center */
a h3, a h5{
	color: black;
}
div.panel{
	border: 2px solid black;
}
div.panel-default{
	box-shadow: 5px 5px 5px black;
}
div.panel-footer{
	background-color: salmon;
	border-top: 2px solid black;
}
