body{
    background-image: url('images/img-md/pexels-photo-86753.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    padding-top: 15vh;
    height: 100vh;
}
body.new-font{
    font-family: 'Playfair Display', serif;
}
div.container-fluid{
    padding-left: 50px;
}
nav.navbar{
    margin: 0;
    margin-bottom: 5vh;
    box-shadow: 3px 3px 5px black;
}
h1.white-text{
    text-indent: 65px;
}
.white-text {
	color: white;
}
.nav-buttons {
    position: relative;
    top: 18px;
}
.nav-buttons i {
    margin-right: 2px;
}
div.container-fluid.override{
    margin: 0;
    padding: 0;
    padding-top: 10vh;
}
div.first, div.second{
    color: black;
    padding-top: 10px;
    font-size: 1.3em;
}
div.first.jumbotron{
    padding: 10px;
    background-color: rgba(255,255,255, 0.7);
}
div.first.jumbotron h1{
    margin-top: 0;
}
div.second label{
    background-color: rgba(255,255,255, 0.7);
    border-radius: 10px;
    padding: 5px;
}
.inactive {
    pointer-events: none;
    opacity: 0.5;
}
.list-item-description {
    height: 40px;
    margin-bottom: 0;
    padding-bottom: 5px;
    overflow-y: hidden;
}
.list-image {
    height: 400px;
    max-width: 90%;
}


.recipe-border {
    margin: 5px auto;
    border: 5px solid black;
    width: 50px;
    /*height: 50px;*/
    border-radius: 50px;
}
/* this is a hack that centers the recipe time number in the recipe-border div */
.recipe-border:before {
    display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.recipe-time {
    vertical-align: middle;
    font-size: 18px;
    color: black;
}
/* without this the number stays at the top of the recipe border div instead of the center */
a h3, a h5{
    color: black;
}
div.panel{
    border: 2px solid black;
}
div.panel-default{
    box-shadow: 5px 5px 5px black;
}
div.panel-footer{
    background-color: salmon;
    border-top: 2px solid black;
}


li.salmon{
    background-color: salmon;
    border-color: salmon;
}
li.list-group-item.override{
    border-color: salmon;
    background-color: rgba(0,0,0,0.7);
    color: white;
}
div.all-white{
    color: white;
}
div.panel-primary{
    background-color: rgba(0,0,0,0.7);
    color: white;
}
div.panel-primary h4{
    margin: 0;
}
.recipe-container{
    font-size: 1.1em;
}
.recipe-container h1, .recipe-container h2{
    text-shadow: 2px 2px black;
}

@media screen and (max-width: 1390px){
    .list-image {
        height: 300px;
    }
}

@media screen and (max-width: 1090px){
    .list-image {
        height: 250px;
    }
}


@media screen and (max-width: 767px){
    body{
        background-repeat: repeat-y;
        padding-top: 20vh;
    }
    nav div h1{
        margin: 5px 0;
    }
    nav div.navbar-brand{
        padding: 8px 15px;
    }
    .nav-buttons {
        top: 3px;
    }
    .list-image {
        height: 350px;
    }
}

